<h1>Coupa -> Summit</h1>
Requests log in to Summit.com<br/>
<form action="/summit-returns-redirect" method="post">
<button type="submit">Get redirect url</button>
<br/><sup><i>Note: must press this button within one minute!</i></sup>
</form>

<br/>
<br/>
Coupa will send cXML request to summit.com:


<br/>
<br/>
The one time password information looks like this:


